* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}


/* BOARD CONTAINER */
.board-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.board-container.blur {
    filter: blur(5px);
}

/* BOARD */
.board {
    position: relative;
    min-width: 350px;
    width: 400px;
    min-height: 90vh;
    border: 1px solid #5a5a5a;
    background-color: #0c0c0c;
    border-radius: 10px;
    padding: 20px;
}

.board-headings {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.board-color-picker {
    width: 25px;
    height: 25px;
    border: 2px dotted #fff;
    border-radius: 50px;
    cursor: pointer;
}

.board-name {
    font-size: 25px;
    font-weight: 600;
}

.total-items {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363636;
    padding:  0px 7px;
}

.board-description {
    font-size: 18px;
    margin-bottom: 25px;
}

.board-item-container {
    /* background-color: teal; */
    width: 100%;
    margin-bottom: 40px;
    min-height: 75vh;
}

.board-item {
    border: 1px solid #5a5a5a;
    padding: 35px 15px 15px 15px ;
    border-radius: 5px;
    background-color: #212121;
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    position: relative;
}

.board-item-creation-time {
    position: absolute;
    top: 5px;
    font-size: 36px;
    color: #737373;
}

.board-item p {
    flex-grow: 1;
    font-size: 18px;
    line-height: 1.5;
}

.delete-item-button {
    border: none;
    background-color: orangered;
    padding: 5px 15px;
    height: 35px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.add-item-button {
    position: absolute;
    bottom: 0;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.add-item-button span {
    font-size: 25px;
    margin-right: 10px;
}

/*   POPUP CARD  */
.popup-card {
    background-color: #1f1f1f;
    border-radius: 10px;
    height: fit-content;
    color: #fff;
    width: 300px;
    position: absolute;
    top: 180px;
    left: 740px;
    visibility: hidden;
}

.popup-card.active {
    visibility: visible;
}

.popup-card h2 {
    font-size: 22px;
    padding: 15px;
    border-bottom: 1px solid #5a5a5a;
    font-weight: 600;
    letter-spacing: 2px;
}

.board-name-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.board-name-label {
    font-size: 18px;
}

.board-name-input {
    padding: 8px 10px;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid #5a5a5a;
    outline: none;
    color: #fff;
    font-size: 16px;
}

.board-color-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.board-color-boxes {
    display: flex;
    gap: 10px;
    align-items: center;
}

.board-color-container h3 {
    font-size: 18px;
}

.color-box {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    cursor: pointer;
}

#color-box-1 {
    border: 2px solid #219ebc;
    background-color: #06586c;
}

#color-box-2 {
    border: 2px solid #a3b18a;
    background-color: #588157;
}

#color-box-3 {
    border: 2px solid #7b2cbf;
    background-color: #c77dff;
}

#color-box-4 {
    border: 2px solid #660708;
    background-color: #ba181b;
}

#color-box-5 {
    border: 2px solid #004e98;
    background-color: #3a6ea5;
}

.board-description-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.board-description-label {
    font-size: 18px;
}

.board-description-input {
    padding: 8px 10px;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid #5a5a5a;
    outline: none;
    color: #fff;
    font-size: 16px;
}

.popup-button-container {
    margin-top: 15px;
    border-top: 1px solid #5a5a5a;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
}

.cancel-popup-card {
    background-color: #232323;
}

.submit-popup-card {
    background-color: #73ba9b;
}

.popup-button {
    border: 1px solid #5a5a5a;
    padding: 8px 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

/* ADD BOARD BUTTON */
.add-board-button {
    font-size: 35px;
    font-weight: 500;
    border: 1px solid #303030;
    border-radius: 3px;
    background-color: #151515;
    padding: 7px 16px;
    height: fit-content;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}